body {
     /*background-color: #DBA8AC;*/
     background: url(http://www.publicdomainpictures.net/download-picture.php?adresar=120000&soubor=watercolor-floral-paper.jpg&id=119578);
}
header {
     text-align: center;
     font-size: 150px;
     background-color: #eba6a9;
     margin: 0px 20px 0px 20px;
     font-family: 'Playball', cursive;
}
h1 {
    text-align: center;
    font-size: 100px;

}
.align-center{
     display: block;
     margin: 0px auto;
     width: 400px;
}
.round {
     border-radius: 50%;
}
#section2{
     padding: 20px;
     text-align: center;
}
.about_button {
     width: 250px;
     background-color: transparent;
     border: 20px solid white;
     text-align: center;
     margin: 0px 100px 0px 0px
}
.about_button:hover {
     transform: scale(1) ;
     border: 3px solid gray;
}
.contact_button {
     width: 250px;
     background-color: transparent;;
     border: 20px solid white;
     text-align: center;
     margin: 0px 0px 100px 0px;
}
.contact_button:hover {
     transform: scale(1);
     border: 3px solid gray;
}
.index_button {
     width: 250px;
     background-color: transparent;
     border: 20px solid white;
     text-align: center;
     margin: 0px 100px 0px 0px
}
.index_button:hover {
     transform: scale(1) ;
     border: 3px solid gray;
}
.card{ width: 100px;
float: left;
border: 1px dotted black;
margin: 0px 0px 15px 20px;
}
.about_info {
     background: pink;
    color: white;
    text-align: center;
    padding: 50px;
}
td, th {
    border:transparent;
    padding: 0.5rem;
}
table {
    text-align: center;
}
.footer{
     background-color: gray;
     padding: 30px;
     text-align: center;
}
